[Unit]
Description=Cheburproxy client
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/usr/local/cheburproxy
ExecStartPre=/usr/local/cheburproxy/start.sh
ExecStart=/usr/local/cheburproxy/cheburproxy -c /usr/local/cheburproxy/config.toml
ExecReload=/bin/kill -HUP $MAINPID
ExecStopPost=/usr/local/cheburproxy/stop.sh
#Environment=RUST_LOG=debug
LimitNOFILE=2981888
LimitNPROC=4000
Restart=always
RestartSec=5
User=root
Group=root

[Install]
WantedBy=multi-user.target